@font-face {
    font-family: tilt;
    src: url(../font/google-font/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}

li {
    list-style-type: none;
}

.head-top {
    background-image: url(../img/header-background-scaled.jpg);
    background-size: cover;
}

.head-nav {
    background-color: #45152A;

    @media screen and (max-width:768px) {
        height: 100px;
    }

    height: 50px;

    >ul {
        li {
            cursor: pointer;
            font-family: tilt;
            color: white;
            transition: .4s;

            &:hover {
                color: #FF6365;
            }

            &:last-child {
                i {
                    font-size: 38px;
                }
            }
        }
    }
}

.head-fig {
    >figure {
        @media screen and (max-width:768px) {
            height: 350px;
        }

        height: 550px;

        >img {
            height: 100%;
            object-fit: cover;
        }
    }

    overflow: hidden;

    >div {

        // background-image: linear-gradient(150deg ,rgba(0, 0, 0, 0.527) ,rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.26),rgba(0, 0, 0, 0.123) );
        @media screen and (max-width:768px) {
            height: 350px;
        }

        height: 550px;
        flex-direction: column;

        >p {
            width: 100%;
            height: 30px;
            font-family: tilt;

            &:nth-of-type(1) {
                font-size: 2vw;
            }

            &:nth-of-type(2) {
                font-size: 6vw;
                text-wrap: nowrap;
                text-align: start;
            }
        }

        a {
            @media screen and (max-width:768px) {
                width: 400px;
            }

            width: 250px;
            margin: auto;
            height: 55px;
            background-color:#7f0f41;
            letter-spacing: 1px;
            transition: .4s;
            cursor: pointer;

            &:hover {
                background-color: #FF6365;
            }
        }
    }
}

.wine-buttles {
    background-image: url(../img/calltoaction-background.jpg);
    background-position: center;
    width: 380px;
    height: 350px;
    border-radius: 10px 10px 0 0;
    flex-direction: column;

    @media screen and (max-width:768px) {
        height: 200px;
    }

    >figcaption {
        width: fit-content;
        color: #7F0F41;
    }

    >img {
        width: 40%;
        height: 60%;
        object-fit: contain;
    }

    >a {

        height: 40px;
        bottom: -35px;
        background-color: #7f0f41;
        letter-spacing: 1px;
        transition: .4s;

        &:hover {
            background-color: #FF6365;
        }
    }
}

.Selected-wines {
    flex-direction: column;

    >h5 {
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 2vw;
    }

    >h4 {
        color: #7F0F41;
        font-size: 4vw;
        font-weight: normal;
        letter-spacing: 2px;
    }

    >div {
        >figure {
            width: 300px;
            height: 320px;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >div {
                flex-direction: column;

                >p {
                    &:nth-of-type(2) {
                        color: rgb(252, 60, 60);
                        font-size: 14px;
                    }
                }

                >h3 {
                    transition: 0.4s;
                    cursor: pointer;

                    &:hover {
                        color: #FF6365;
                    }
                }
            }
        }
    }
}

.savings {
    flex-direction: column;
    padding-top: 200px;

    >span {
        letter-spacing: 1px;
    }

    >h3 {
        color: #45152A;
        font-size: 5vw;
    }

    >p {
        color: rgb(60, 61, 61);
        font-size: 1.5vw;

        @media screen and (max-width:992px) {
            width: 450px;
        }

        width: 800px;
    }
}

.photo-saving {
    background-image: url(../img/subscribe-background-scaled.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    flex-direction: column;

    >input {
        height: 60px;
    }

    >a {
        font-family: tilt;
        height: 60px;
        background-color: #7f0f41;
        letter-spacing: 1px;
        transition: .4s;
        font-size: 25px;

        &:hover {
            background-color: #FF6365;
        }
    }
}

.v-totable {
    background-image: url(../img/vineyard-tours-background-scaled.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

    >* {
        font-family: tilt;
    }

    >div {
        flex-direction: column;

        >p {
            &:nth-of-type(1) {
                letter-spacing: 2px;
            }

            &:nth-of-type(2) {
                font-weight: lighter;
                letter-spacing: .5px;
            }
        }

        h4 {
            font-size: 5vw;
        }

        a {
            letter-spacing: 1px;
            background-color: #7f0f41;
            transition: .4s;

            &:hover {
                background-color: #FF6365;
            }
        }
    }
}

.news {
    >div {
        &:nth-of-type(1) {
            flex-direction: column;
            font-family: tilt;

            h5 {
                letter-spacing: 1px;
                font-size: 20px;
            }

            >h4 {
                font-size: 60px;
                color: #45152A;
                ;
            }
        }

        &:nth-last-of-type(2) {
            >figure {
                width: 380px;
                height: 280px;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                >div {
                    flex-direction: column;

                    >h3 {
                        transition: .4s;
                        cursor: pointer;

                        &:hover {
                            color: #FF6365;
                        }
                    }
                }
            }
        }

        &:nth-of-type(3) {
            >a {
                letter-spacing: 1px;
                background-color: #7f0f41;
                transition: .4s;

                &:hover {
                    background-color: #FF6365;
                }
            }
        }
    }
}

.footer {
    background-image: url(../img/footer-background-scaled.jpg);
    background-size: cover;
    min-height: 100vh;
    >div{
        &:nth-of-type(2){
            @media screen and (max-width:768px){
                flex-direction: column;
            }
            @media screen and (min-width:768px){
                flex-direction: row;
            }
        }
    }
}
.list1 , .list2{
    flex-direction: column;
    >li{
        cursor: pointer;
        color: white;
        letter-spacing: .5px;
        transition: .4s;
        &:hover{
            color: #FF6365;
        }
    }
}
.sub-save{
    flex-direction: column;
    font-family: tilt;
    >p{
        font-size: 40px;
    }
    >input{
        height: 40px;
    }
    >a{
        background-color: #240d17;
        letter-spacing: 1px;
        height: 40px;
        transition: .4s;
        &:hover{
            background-color: #FF6365;
        }
    }
}
input{
    border-radius: 5px;
}